@media screen and (max-width: 1300px) {
    .product__container__right__advantages__text {
        font-size: 20px;
    }

    .product__container__left__specifications__text {
        font-size: 20px;
    }

    .product__container__left__specifications__text__black {
        font-size: 20px;
    }
}

@media screen and (max-width: 1200px) {
    .retrans_k__right {
        margin-top: 40px;
    }

    .retrans__flex {
        justify-content: center;
        display: block;
    }

    .header__block__right__img__container {
        display: none;
    }

    .header__block__right__img {
        display: none;
    }

    .product__container__right__advantages {
        height: 100%;
    }

    .product__container__right.imgages {
        width: 100%;
        margin: 100px auto;
    }

    .product__container__right__img {
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }

    .product__container__right {
        margin: 100px auto;
    }

    .product__container__left {
        display: none;
    }

    .product__container__left__img {
        display: none;
    }

    .product__container__two__flex {
        display: block;
    }

    .product__container__one__flex {
        display: block;
    }

    .header__block__left__button {
        width: 60%;
    }

    .header__block__right__descr {
        display: none;
    }

    .header__block {
        display: block;
    }

    .header__block__right__img {
        width: 600px;
        height: 600px;
    }

    .header__block__left {
        text-align: center;
    }

    .header__block__right__img__container {
        text-align: center;
        margin-top: 0;
    }

    .vidio {
        height: 600px;
    }
}

@media screen and (max-width: 992px) {
    .retrans_k__right {
        width: 50%;
        height: 50%;
        margin: 0 auto;
    }

    .retrans__block.left {
        width: 90%;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
    }

    .header__block__left__button {
        width: 100%;
    }

    .retrans__flex {
        margin: 0 auto;
    }

    .retrans__block {
        height: 100%;
        margin: 0 auto;
    }

    .retrans__block__right {
        margin-bottom: 40px;
    }

    .retrans__left__descr {
        font-size: 22px;
    }

    .retrans__block__right__img {
        margin-top: 60px;
    }

    .aboutUS__block {
        width: 70%;
    }

    .vidio {
        height: 540px;
    }
}

@media screen and (max-width: 768px) {
    .social__block {
        display: block;
    }

    .product__link {
        display: block;

    }

    .product__link__element {
        border: 0;
        border-bottom: 1px solid #ff0000;
    }

    .product__link__element.one {
        border: 0;
        border-top: 1px solid #ff0000;
        border-bottom: 1px solid #ff0000;
    }

    .vidio {
        height: 480px;
    }

    .header__block {
        display: block;
    }

    .header__block__right__img {
        width: 400px;
        height: 400px;
    }
}


@media screen and (max-width: 480px) {
    .fons__images {
        width: 50%;
        height: 50%;
    }

    .fons__images__img.three {
        display: none;
    }

    .fons__images.three {
        display: none;
    }

    .link__title__img {
        width: 70px;
        height: 70px;
    }

    .footer__flex {
        width: 70%;
    }

    .product__container__left__specifications__text__black {
        font-size: 19px;
    }

    .product__container__left__specifications__text {
        font-size: 19px;
    }

    .product__container__right__advantages__text {
        font-size: 20px;
    }

    .product__container__right__name__header {
        font-size: 25px;
    }

    .product__container__left__specifications__text__header {
        font-size: 20px;
    }

    .header__block__left__button {
        width: 100%;
    }

    .c {
        width: 300px;
        height: 300px;
    }

    .info__block__title__text {
        font-size: 20px;
    }

    .info__block__title__h {
        font-size: 30px;
    }

    .retrans__left__descr {
        font-size: 20px;
    }

    .retrans__block__title {
        font-size: 20px;
    }

    .name__common__text {
        font-size: 30px;
    }

    .link__title__text {
        font-size: 20px;
    }

    .aboutUS__block {
        width: 100%;
    }

    .vidio {
        height: 300px;
    }
}